body{
  background-color: blue;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size:40px;
  text-align: center;
}
#title{
  color: blue;
  -webkit-text-stroke: 1px white;

}
a{
  color: white;
  text-decoration: none;
  text-shadow:
    -3px  0 blue,
    2px  0 blue,
    -2px  0 blue,
    3px  0 blue;
  background: linear-gradient(to bottom,
    transparent 0%, transparent 84%,
    white 84%, white 88%,
    transparent 89%, transparent 100%
    );}

div{
  -webkit-text-stroke: 0px;
  color: white;
  box-shadow: -1px -1px 0px 0px white,
              -9px -9px 0px 0px blue,
              -10px -10px 0px 0px white;
  padding: 10px;
  position: relative;
  border-radius: 0px;
  width: 250px;
  margin: auto;
  margin-top: 40px;
}
#humanCard{
  text-align: left;
  width: 228px;
}

#collectiveCard{
  text-align: left;
  width: 228px;
  box-shadow: -1px -1px 0px 0px white,
              -5px -5px 0px 0px blue,
              -6px -6px 0px 0px white,
              -10px -10px 0px 0px blue,
              -11px -11px 0px 0px white;
}
